table {
    width: max-content;
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    margin-top: 5%;
    display: block;
    font-weight: normal;
    border-collapse: separate;
    border-spacing: 10px;
    /* transition: all 0.5s ease-in-out; */
}

tr {
    cursor: pointer;
}

th, td {
    padding: 10px;
    text-align: center;
    background-color: #f2f2f2;
    /* transition: all 0.5s ease-in-out; */
    /* width: 300px; */
}

th {
    font-weight: normal;
    cursor: default;
    /* transition: all 0.5s ease-in-out; */
}

tr>th {
    transition: all .2s ease-in-out;
    cursor: pointer;
}

tr>th:active {
    box-shadow: inset 0 0 20px 1px rgba(0, 0, 0, .2);
}

.names:hover {
    background-color: lightgray;
}

.name {
    text-align-last: left;
}

.today {
    text-align: right;
    background-color: lightblue;
}

.days:hover {
    background-color: lightskyblue;
}

.yesterday {
    display: flex;
    justify-content: space-around;
    border: none;
    width: 100px;
}

.yesterday-title:hover {
    background-color: lightgray;
}

.positive {
    background-color: lightgreen;
}

.negative {
    background-color: lightpink;
}

.percent {
    font-weight: bold;
    color: green;
    margin-left: 10%;
}

.percent-positive {
    color: green;
    background-color: lightgreen;
}

.percent-negative {
    color: red;
    background-color: lightpink;
}

.week {
    text-align: right;
}

.weeks:hover {
    background-color: lightgray;
}